*{
    box-sizing: border-box;
    margin: 0;
}

body{
  font-family: "Rubik", sans-serif;
  margin: 1rem 5rem;

 background-color: #ebedf0 10% ;
}
ul {
  list-style: none;
}

a{
    text-decoration: none;
    color: #4F5665;
}

 p{
    color: #4F5665;
    font-size: 1rem;
    line-height:1.5;
 }
 h1,h2,h3,h4,h5,h6{
    color: #0B132A;

#check {
  display: none;
}



 }
.LaslesVPN{
    font-weight:bold;
}
header{
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    align-items: center;
    gap: 2rem;    
    padding: 1rem 0;
    width: 100%;
}


.logo img{
    width: 80%;
}
nav{
    display: flex;
    gap: 2rem;
    justify-content: center;

}

.signbutt a{
  display: inline-block;
  font-weight: bold;
  border-radius: 23.49px;
  text-align: center;
  cursor: pointer;
}


.Sign{
    color: #0B132A;
    border: none;
    padding-right: .5rem;

}
.mainbutt{
    color:#F53855 ;
    background-color: #FFFFFF;
    border:0.47px solid #F53855; 
    padding: .4rem 2rem;

}

.mainbutt:hover{
    background-color: #F53855;
    color: #FFFFFF;
    box-shadow: 0 5px 10px 0 #F53855;
}



/* start home section*/
.home img{
width: 100%;
height: auto;
max-width: 490px;
}
.grid {
  display: grid;
  align-items: center;
  gap: 1rem;
}
.home .grid{
    grid-template-columns:repeat(auto-fit,minmax(330px,1fr)) ;
    gap: 2rem;
}
.home .grid .content{
    display: grid;
    gap: 2rem;
}
.home .grid .content h2{
    font-size: 2.6rem;
    line-height: 1.5;
    word-spacing: 2;
}

.rectanglebutt{
  color: white;
  background-color: #F53838;
  outline: none;
  border: none;
  border-radius: 4.7px;
  padding: 1rem 4rem;
  cursor: pointer;
  width: fit-content;
  box-shadow: 0 5px 10px 0 #F53855;
}
/* end home section*/





@media(max-width :1038px){
body{
  margin: 1rem 3.5rem;
}
.signbutt{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

}
/* start home section*/
.home img{
max-width: 450px;
}
.home .grid{
    gap: 1.5rem;
}
.home .grid .content h2{
    font-size: 2.4rem;
    line-height: 1.5;
}

.rectanglebutt{
  padding: 1rem 3.5rem;
}
/* end home section*/

}



@media(max-width :936px){
body{
  margin: 1rem 2rem;
}
nav{
    gap: 1.5rem;
}

.Sign{
    padding-right: .3rem;
}
.signbutt{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

}
.mainbutt{
    padding: .3rem 1.4rem;
}

/* start home section*/
.home img{
max-width: 385px;
}
.home .grid{
    gap: 1rem;
}
.home .grid .content h2{
    font-size: 2rem;
    line-height: 1.5;
}

.rectanglebutt{
  padding: 1rem 3.5rem;
}
/* end home section*/

}



#check {
  display: none;
}

#check ~ label {
  color:#F53838;
  display: none;
  font-size: 1.3rem;
  cursor: pointer;
   width: fit-content;   
  height: fit-content;
  padding: 0.5rem; 
}

#check:checked ~ nav 
{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 30%;
  background-color: rgb(245, 243, 243);
  padding: 1;
  padding-right: 20%;
  padding-left: 2%;
  padding-top: 2%;
  z-index: 1000;
}





@media(max-width :753px){
    header{
    grid-template-columns: 45% 1fr 55%;
    align-items: center;
    gap: 2rem;    
    padding: 1rem 0;
    width: 100%;
}
    .logo img{
    width: 100%;
}

nav{
    display: none;
    flex-direction: column;
    gap: 1.3rem;
    position: absolute;
 }   
#check:checked ~ nav {
    display: flex;
}




  #check ~ label {
    display: block;
  }


/* start home section*/
.home img{
max-width: 385px;
}
.home .grid .content h2{
    font-size: 2rem;
    line-height: 1.5;
}
/* end home section*/

}

/* start stats section*/
.stats{
    display: flex;
    justify-content: center;
}
.statscontainer{
    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
    align-items: center;
    padding: 3rem 5rem ;
    gap: 2rem;
    margin: 4rem 2rem;
    box-shadow: 0 10px 25px 0 gray;
    border-radius: 4.7px;

}
.box{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.dividing{
    width: 1px;
    height: 60px;
    background-color: #EEEFF2;
}
/* end stats section*/

@media(max-width :650px){
.statscontainer{
    display: grid;
    grid-template-columns: 1fr ;
    align-items: center;
    padding: 5rem 3rem ;
    gap: 2rem;
    margin: 4rem 2rem;
    box-shadow: 0 10px 25px 0 gray;
    border-radius: 4.7px;

}
.box{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.dividing{
    width: 120px;
    height: 1px;
    background-color: #EEEFF2;
}

}

/* start Features section*/
.features .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(330px,1fr));
    gap: 4rem;
    align-items: center;
}
.features img{
width: 100%;
height: auto;
max-width: 490px;
}
.features .content h2{
    font-size: 2.2rem;
    margin-bottom: 2rem;
}
.features .content p{
    margin-bottom: 1.4rem;
}
.features .listshow{
    padding: 0;
}
li{
    font-size: 1rem;
    color: #4F5665;
    margin-bottom: 1rem;

}
i{
    margin-right: .6rem;
}


/*********************/

@media(max-width :1038px){
.features img{
max-width: 450px;
}
.features .grid{
    gap: 1.5rem;
}
.features .grid .content h2{
    font-size: 2.4rem;
    line-height: 1.5;
}
}

@media(max-width :936px){

.features img{
max-width: 385px;
}
.features .grid{
    gap: 1rem;
}
.features .grid .content h2{
    font-size: 2rem;
    line-height: 1.5;
}

}

@media(max-width :753px){

.features img{
max-width: 385px;
}
.features .grid .content h2{
    font-size: 2rem;
    line-height: 1.5;
}

}

/* end Features section*/






/* start Plan section*/
.Plan .headplan{
    text-align: center;
    margin-top: 5rem;
}
.Plan .headplan h2{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.plancards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px),1fr);
    gap: 2rem;
    justify-self:center;
}
.card{
    border: 0.94px solid #F53838;
    border-radius: 4.7px;
    max-width: 300px;
    padding: 2rem;
    align-items: center;
}

/* end Plan section*/




/* start network section*/
.network{
    text-align: center;
    margin-top: 4rem;
    
}
.network h2{
font-size: 2.3rem;
margin-bottom: 2rem;
}
.network p{
margin-bottom: 5rem;
}
.map img{
width: 80%;
}
.communication{
margin-top: 3rem;
display: flex;
gap: 4rem;
flex-wrap: wrap;
flex-basis: calc(100% / 5 - 3rem);
text-align: center;
justify-content: center;
}
.communication img{
    max-width: 200px;
}


/* end network section*/



















































/*



@media(max-width :1038px){
.home img{
max-width: 450px;
}
.home .grid{
    gap: 1.5rem;
}
.home .grid .content h2{
    font-size: 2.4rem;
    line-height: 1.5;
}

/* end home section*/


/*
@media(max-width :936px){


.home img{
max-width: 385px;
}
.home .grid{
    gap: 1rem;
}
.home .grid .content h2{
    font-size: 2rem;
    line-height: 1.5;
}


}*/
/*
@media(max-width :753px){

.home img{
max-width: 385px;
}
.home .grid .content h2{
    font-size: 2rem;
    line-height: 1.5;
}

}

*/





